// /*******************
//  * Gooroom Flatform*
//  *******************/

#panel-popup-window-frame {
  padding: 6px 9px;
  color: $selected_fg_color;
  border: none;
  box-shadow: none;
  text-shadow: none;
  -gtk-icon-shadow: none;
  background-color: $panel_bg;
  background-image: none;
}

#uim-systray-button {
  color: $panel_bg;
  padding: 0 3px;
  border-radius: 0;
  border: none;
  background-color: transparentize($panel_bg, 1);

  &:hover {
    border: none;
    background-color: lighten($panel_bg, 10%);
  }
  &:active, &:checked {
    color: $selected_fg_color;
    border: none;
    background-color: $selected_bg_color;

    label, image { color: inherit; }
  }
}

/*
#uim-systray-button {
  border: none;
  border-radius: 0;
  padding: 0;
  color: $inverted_fg_color;
  background-image: none;
  background-color: transparent; }

#uim-systray-button:hover {
  border-radius: 0;
  color: $selected_fg_color;
  background-color: transparent;
  background-image: none;
  box-shadow: inset 0 -2px $track_color; }

#uim-systray-button:active,
#uim-systray-button:checked,
#uim-systray-button:active:hover,
#uim-systray-button:checked:hover {
  background-image: none;
  color: $selected_fg_color;
  box-shadow: inset 0 -2px $selected_bg_color;
  border-radius: 0;
  background-color: transparent; }
*/
