$variant: 'light';
$darker: 'false';
$transparency: 'true';

@import 'colors';
@import 'drawing';
@import 'common';
@import 'applications';
@import 'xfce4-gooroom';
@import 'transparent_widgets';
@import 'colors-public';
