style "dockbarx" {
  bg[NORMAL] = @panel_bg

#  engine "pixmap" {
#
#    image {
#      function = FLAT_BOX
#      file  = "assets/null.png"
#      stretch = TRUE
#    }
#  }
}

widget "*dockbarx-background"             style "dockbarx"
