#! /usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-cinnamon \
		--disable-gnome-shell \
		--disable-openbox \
		--disable-plank \
		--disable-unity \
		--disable-xfwm

