#! /usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-gnome-shell \
	--disable-darker \
	--disable-dark \
	--disable-cinnamon \
	--disable-unity \
	--disable-xfwm \
	--disable-plank \
	--disable-openbox
